:root{
    --primary-color: black;
    --secondary-color: white;
    --bkg-color: rgba(0, 0, 0, 0.503);
    --highlight: rgb(106, 255, 126);
}
html{
    width: 100%;
    height: 100%;
    margin: 0px;
}
body{
    font-family: 'Josefin Slab', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
}
main{
    height: 100%;
    width: 100%;
    background-color: rgb(151, 151, 151);
}
img{
    height: 100%;
    width: 100%;
}
section{
    height: 100%;
    width: 100%;
    position: relative;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--bkg-color);
}
/*NAV*/
.navigation{
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 5;
}
@keyframes slide{
    from{transform:translateX(-100%);}
    to{transform:translateX(0%);}
}
.slide-in{
    animation: slide 900ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.icon-title{
    color: var(--secondary-color);
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 1.5em;
    font-family: 'Abril Fatface', sans-serif;
}
.nav{
    display: flex;
    margin: 15px 0px;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
}
.nav-item{
    margin: auto 10px;
    font-size: .9em;
}
.titles{
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 0;
    right: 0;
}
.toggle-bar{
    width: 30px;
    height: 5px;
    background-color: var(--highlight);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    display: none;
    top: 10px;
    left: 5px;
}
.toggle-bar:hover{
    cursor: pointer;
}
.toggle-bar::before{
    content: "";
    width: 30px;
    height: 5px;
    background-color: var(--highlight);
    border-radius: 2px;
    position: absolute;
    top: 10px;
}
.toggle-bar::after{
    content: "";
    width: 30px;
    height: 5px;
    background-color: var(--highlight);
    border-radius: 2px;
    position: absolute;
    top: 20px;
}
/*MAIN*/
.main-title{
    color: var(--secondary-color);
    text-align:center;
    font-size: 3em;
    font-family: 'Abril Fatface', sans-serif;
}
.sub-ttl{
    text-align: center;
    font-size: 1.1em;
    color: var(--secondary-color);
}
.btns{
    display: flex;
    position: absolute;
    justify-content: center;
    top: 50%;
    right: 0px;
    left: 0px;
    row-gap: 20px;
}
.btn{
    border: 2px solid var(--secondary-color);
    border-radius: 0px;
    background-color: transparent;
    color: var(--secondary-color);
    height: 30px;
    width: 80px;
    margin: auto 20px;
}
.btn:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 200ms;
    cursor: pointer;
}
/*SECTION 1*/
.sec1{
    height: 100%;
    width: 100%;
}
.sec1-title{
    margin-left: 20px;
    color: var(--secondary-color);
    font-size: 1.8em;
    text-shadow: 1px 2px 15px var(--bkg-color);
}
.sec-bkg{
    position: fixed;
    z-index: -1;
    bottom: 0;
}
.info{
    margin-left: 20px;
}
.paragraph{
    width: 300px;
    height: 400px;
    background-color: rgba(151, 151, 151, .4);
    backdrop-filter: blur(5px);
    padding: 30px;
    box-shadow: 1px 10px 15px 1px rgba(0, 0, 0, 0.599);
    border-radius: 30px;
}
/*SECTION 2*/
.sec2{
    background-color: rgb(40, 40, 40);
    overflow-x: hidden;
}
.sec2-title{
    margin: 0px 15px;
    text-align: center;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    color: var(--secondary-color);
}
.display-items{
    display: flex;
    margin: 0px;
    z-index: 5;
    padding: 0px 10%;
}
.item{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    box-shadow: 3px 5px 7px var(--bkg-color);
    margin: auto auto;
    position: relative;
    overflow: hidden;
}
.short-txt{
    position: absolute;
    margin: 0px;
    text-align: center;
    bottom: 35%;
    top: 35%;
    z-index: 5;
}
.diff-txt{
    display: none;
}
@keyframes hovered {
    from{transform: translateY(100%);}
    to{transform: translateY(0%);}
}
.hvr-item{
    content: '';
    background-color: var(--highlight);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    transform: translateY(100%);
}
.item:hover{
    background-color: var(--highlight);
    transition-delay: 800ms;
    cursor:default;
}
.item:hover .hvr-item{
    animation: hovered 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: var(--highlight);
}
.item:hover .short-txt{
    /* color: var(--secondary-color); */
    display: none;
}
.item:hover .diff-txt{
    position: absolute;
    margin: 0px;
    text-align: center;
    bottom: 35%;
    top: 35%;
    z-index: 5;
    display: block;
    color: var(--secondary-color);
}
.display-txt{
    display: flex;
    margin: auto auto;
    padding: 0px 10%;
    justify-content: center;
}
.blurb{
    width: 110px;
    height: 110px;
    margin: auto;
    color: var(--secondary-color);
    text-align: center;
}
.blurb h5{
    font-size: 1.1em;
    font-variant: small-caps;
    font-weight: 400;
    margin: 10px;
}
.blurb p{
    font-size: .8em;
}
/*CONTACT FORM*/
.sec3{
    margin-top: 70px;
    background-color: rgb(40, 40, 40);
    height: 50%;
}
.cntc-us{
    text-align: center;
    padding: 30px 0px 30px 0px;
    color: var(--secondary-color);
}
.cntc{
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
}
.label{
    display: inline-block;
    color: var(--secondary-color);
}
.form{
    background-color: var(--bkg-color);
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    font-style:italic;
}

/*RESPONSIVE WEB DESIGN*/
@media (min-width: 901px){
    .nav{
        display: flex;
        margin: 15px auto;
        justify-content: center;
        align-items: center;
        color: var(--secondary-color);
    }
    .nav-item{
        margin: auto 10px;
        font-size: .9em;
    }
}
@media (max-width: 900px){
    .nav{
        background-color: var(--primary-color);
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        display: none;
        justify-content: center;
    }
    .nav-item{
        font-size: 2em;
        margin: auto;
        position: relative;
    }
    .toggle-bar{
        display: block;
    }
    .icon-title{
        position: relative;
        text-align: center;
    }
}

@media (max-width: 500px){
    .sec2{
        height:fit-content;
    }
    .info{
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .sec1-title{
        text-align: center;
    }
    .sec2-title{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .display-items{
        flex-direction: column;
        z-index: 5;
    }
    .item{
        margin: 45px auto;
        width: 200px;
        height: 200px;
    }
    .short-txt{
        position: static;
        text-align: center;
        padding-top: 50%;
        padding-bottom: 50%;
    }
    .diff-txt{
        position: static;
        text-align: center;
        padding: calc(100%/4);
    }
    .display-txt{
        width: 100%;
        margin: auto;
        padding: 0px;
    }
    .blurb{
        width: 200px;
        margin: 90px auto;
    }
}
